
<div>
  <div class="flex flex-col-reverse items-center justify-around md:flex-row">
    <div class="flex justify-center items-center w-full md:w-1/2">
      <div>
        <h1 class="mb-8 text-7xl drop-shadow-flashy-green">renodor</h1>
        <h2 class="mb-2 text-3xl">Fullstack web developer, specialized in Ruby on Rails</h2>
        <p>I build cool web applications. I can help you design and code all your digital content. Currently working full time as a Rails developper for <a href="https://www.bspk.com/" target="_blank">BSPK</a>.</p>
      </div>
    </div>
    <div class="relative flex justify-center items-center max-w-64 w-4/5 sm:max-w-none sm:w-1/2 select-none">
      <%= image_tag "renodor-avatar-shadows.png" %>
      <%= image_tag "renodor-avatar-strokes.png", class: "absolute" %>
    </div>
  </div>

  <div class="mt-12 pt-5" id="services">
    <h2 class="mb-8 drop-shadow-flashy-green-sm text-3xl">Services</h2>
    <div class="flex flex-col sm:flex-row items-center gap-5">
      <div class="p-8 w-full md:w-1/2 lg:w-[30%] flex flex-col items-center justify-center gap-4 text-center border border-2 border-dark-gray rounded-md shadow-flashy-green">
        <%= inline_svg_tag('icons/code.svg', class: "size-8 text-flashy-green") %>
        <p>Backend<br />web development</p>
      </div>
      <div class="p-8 w-full md:w-1/2 lg:w-[30%] flex flex-col items-center justify-center gap-4 text-center border border-2 border-dark-gray rounded-md shadow-flashy-green">
        <%= inline_svg_tag('icons/pen.svg', class: "size-8 text-flashy-green") %>
        <p>Frontend<br />web development</p>
      </div>
    </div>
  </div>

  <div class="mt-24 pt-5" id="projects">
    <h2 class="mb-8 drop-shadow-flashy-green-sm text-3xl">Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:pt-40">
      <% @projects.each do |project| %>
        <div class="flex flex-col items-center relative h-[575px] border border-2 border-dark-gray rounded-md md:odd:-mt-40 overflow-hidden transition-all duration-250 hover:bg-dark-gray hover:text-white shadow-flashy-green md:shadow-none hover:shadow-flashy-green group">
          <div class="flex items-center gap-3 pt-10 px-5 pb-5 w-full">
            <h3 class="text-2xl group-hover:translate-x-4 transition-transform duration-250 grow"><%= project.name %></h3>
            <% project.services.each do |service| %>
              <%= inline_svg_tag(service.icon, class: "size-6 md:text-transparent md:-translate-y-full transition duration-300 group-hover:translate-y-0 group-hover:text-white") %>
            <% end %>
          </div>
          <%= cl_image_tag project.cover_photo.key, width: 686, crop: :fit, class: "max-w-none -rotate-12 translate-y-[20%] transition-transform duration-250 border-t border-t-2 border-dark-gray md:border-none group-hover:translate-y-[10%]" %>
          <%= link_to "", project_path(project), class: "absolute inset-0" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-24 pt-5" id="contact">
    <h2 class="mb-4 drop-shadow-flashy-green-sm text-3xl">Get in Touch</h2>
    <div class="flex">
      <a href="https://www.linkedin.com/in/renauddor/" target="_blank" class="py-4 pr-4 group">
        <%= inline_svg_tag('icons/linked_in.svg', class: 'transition-colors group-hover:fill-flashy-green') %>
      </a>
      <a href="https://github.com/renodor" target="_blank" class="p-4 group">
        <%= inline_svg_tag('icons/github.svg', class: 'transition-colors group-hover:fill-flashy-green') %>
      </a>
      <div
        data-controller="email"
        data-action="click->email#reveal"
        class="relative flex gap-4 items-center p-4 cursor-pointer group"
      >
        <%= inline_svg_tag('icons/mail.svg', class: 'transition-colors group-hover:fill-flashy-green') %>
        <span data-email-target="emailSlot" class="opacity-0 transition duration-250 text-sm"></span>
      </div>
    </div>
    <div class="mt-2 w-full">
      <%= form_with url: contact_path(anchor: "contact"), class: "w-full relative" do |f| %>
        <%= f.text_field "contact[content]", class: "absolute border-none" %>
        <%= f.text_field "contact[email]", class: "absolute border-none" %>
        <div class="relative flex flex-col sm:flex-row items-start gap-4 mb-4">
          <%=
            f.text_field "contact[name]",
            placeholder: "name",
            value: @contact.name,
            class: "w-full sm:w-1/2 border border-dark-gray border-2 rounded-md focus:shadow-flashy-dark transition duration-250 focus:border-dark-gray focus:ring-0"
          %>
          <div class="w-full sm:w-1/2">
            <%=
              f.text_field "contact[mail]",
              placeholder: "email",
              value: @contact.email,
              data: { invalid: @contact.errors[:email].present? },
              class: "w-full border border-dark-gray border-2 rounded-md focus:shadow-flashy-dark transition duration-250 focus:border-dark-gray focus:ring-0 data-[invalid='true']:bg-green-100"
            %>
            <% if @contact.errors[:email].present? %>
              <p class="text-sm mt-2"><%= @contact.errors[:email].first.capitalize %></p>
            <% end %>
          </div>
        </div>
        <div class="w-full mb-4">
          <%=
            f.text_area "contact[message]",
            placeholder: "message",
            value: @contact.message,
            data: { invalid: @contact.errors[:message].present? },
            class: "block w-full h-48	border border-dark-gray border-2 rounded-md focus:shadow-flashy-dark transition duration-250 focus:border-dark-gray focus:ring-0 data-[invalid='true']:bg-green-100"
          %>
          <% if @contact.errors[:message].present? %>
            <p class="text-sm mt-2"><%= @contact.errors[:message].first.capitalize %></p>
          <% end %>
        </div>
        <%= f.submit "SEND", class: "p-5 w-full bg-flashy-green rounded-md font-bold cursor-pointer hover:shadow-flashy-dark transition duration-250" %>
      <% end %>
    </div>
  </div>
</div>
