<div class="mx-5 mb-5">
  <table class="project-index">
    <thead> <!-- table head -->
      <tr>
        <th>Id</th>
        <th>Published</th>
        <th>Name</th>
        <th>Description</th>
        <th>URL</th>
        <th>Order</th>
        <th>Services</th>
        <th>Techs</th>
        <th>Cover Photo</th>
        <th>Photos</th>
        <th>Edit</th>
      </tr> <!-- table row -->
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><% if project.published %>
                <i class="fas fa-check"></i>
              <% else %>
                <i class="fas fa-times"></i>
              <% end %>
          </td>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= raw project.description %></td>
          <td><%= project.url %></td>
          <td class="text-center"><%= project.order %></td>
          <td class="text-center">
              <% if project.web_development %><i class="fas fa-code"></i><% end %>
              <% if project.marketing %><i class="fas fa-chart-bar"></i><% end %>
              <% if project.graphic_design %><i class="fas fa-pencil-alt"></i><% end %>
          </td>
          <td>
            <% project.technologies.each do |technology| %>
              <%= technology %>
            <% end %>
          </td>
          <td><a target="_blank" href="<%= cl_image_path project.cover_photo.key %>">cover photo</a></td>
          <td>
            <% project.photos.each_with_index do |photo, i| %>
              <%= link_to (cl_image_path photo.key), target: "_blank" do %>
                <%= i + 1 %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to "edit", edit_project_path(project) %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
</div>

