<div class="mx-5 mb-5">
  <table class="project-index">
    <thead> <!-- table head -->
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>URL</th>
        <th>Order</th>
        <th>Services</th>
        <th>Cover Photo</th>
        <th>Photos</th>
        <th>Edit</th>
      </tr> <!-- table row -->
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.url %></td>
          <td class="text-center"><%= project.order %></td>
          <td class="text-center">
              <% if project.web_development %><i class="fas fa-code"></i><% end %>
              <% if project.marketing %><i class="fas fa-chart-bar"></i><% end %>
              <% if project.graphic_design %><i class="fas fa-pencil-alt"></i><% end %>
          </td>
          <td><a target="_blank" href="<%= cl_image_path project.cover_photo.key %>">cover photo</a></td>
          <td>
            <% project.photos.each do |photo| %>
              <%= photo %>
            <% end %>
          </td>
          <td><%= link_to "edit", edit_project_path(project) %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
</div>

